# IDE
.idea/
*.iml
.DS_Store
workspace.json

# Gradle
.gradle/
**/build/

# Android
/captures
.externalNativeBuild
.cxx
*.so

# Local config
local.properties
keystore.properties

# Rust
rust/**/target/
