<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <attribution
        android:label="@string/audio_playback_attribution"
        android:tag="audioPlayback" />

    <application
        android:name=".OutifyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3Expressive"
        android:usesCleartextTraffic="false">

        <service
            android:name=".services.OAuthService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"></service>

        <service
            android:name=".services.PlaybackService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service
            android:name=".services.LikedTileService"
            android:exported="true"
            android:label="Play liked tracks"
            android:icon="@drawable/media3_icon_heart_filled"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <!--        <service-->
        <!--            android:name=".services.MusicService"-->
        <!--            android:exported="false"-->
        <!--            android:foregroundServiceType="mediaPlayback">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.media.browse.MediaBrowserService" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Material3Expressive">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Playback OAuth callback -->
                <data android:scheme="outify" />
                <data android:host="auth_complete" />
                <data android:host="auth_failed" />

                <!-- Account OAuth callback -->
                <data android:host="account_auth_complete" />
                <data android:host="account_auth_failed" />

                <!-- Opening spotify URLs -->
                <data android:scheme="spotify" />

                <!-- Opening spotify URLs -->
                <data
                    android:host="open.spotify.com"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="application/x-outify-backup" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.outify" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.outify" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.HomeScreen"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.Material3Expressive" />

        <activity
            android:name=".ui.widgets.PlaybackWidgetConfigure"
            android:exported="false"
            android:theme="@style/Theme.Material3Expressive" />

        <receiver
            android:name=".ui.widgets.PlaybackWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/outify_playback_widget_info" />
        </receiver>
    </application>
</manifest>